body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.name {
  display: flex;
  align-items: center;
}
.nameinput {
  margin-left: 10px;
}
.general {
  width: 30%;
}
.nameinput1 {
  margin-left: 10px;
  right: 200px;
  padding-left: 2.5em;
}
.box {
  border-style: solid;
  padding: 1em;
  border-color: #f1356d;
}
.box2 {
  border-style: solid;
  border-color: black;
  align-items: left;
}
.asd {
  border-top-left-radius: 0cm !important;
  border-bottom-left-radius: 0cm !important;
}

.name1 {
  display: flex;
}
.btn {
  display: flex;
  align-items: end;
  padding-bottom: 9px;
}
.align {
  justify-content: flex-end;
}
.qwe {
  align-items: left;
}
.qwerty {
  display: flex;
}
